<% provide(:title, "Edit user") %>
<% provide(:button_text, "Edit user") %>
<h1>Settings</h1>

<div class="">
  <div class="gravatar_edit">
    <a href="http://gravatar.com/emails" rel="noopener" target="_blank"><%= gravatar_for @user %></a>
    <br />
    <a href="http://gravatar.com/emails" rel="noopener" target="_blank">Change Profile Picture</a>
  </div>
  <%= render 'form' %>
</div>
