<div class="clearfix">
  <%= render partial: 'lists/save', locals: {list: list, proper: false, class_name: 'btn btn-sm btn-with-count'} %>
  <a class="social-count" href="#"><%= list.saves %></a>
</div>
