<span>
  <% if current_user&.saved? list %>
    <%= link_to(proper ? 'Remove from Backlog' : 'remove from backlog', unsave_list_path(list), method: :post, class: class_name) %>
  <% else %>
    <%= link_to(proper ? 'Add to Backlog' : 'add to backlog', save_list_path(list), method: :post, class: class_name) %>
  <% end %>
</span>
