/* $pink: #f9849e; #e64569; #ff97aa; ff7d7d; ff8484 (sarah) */
$pink: #FF6565;
$border-color: #ddd;
$green: #3eb358;
$background-gray: #f9f9f9;
$gray: #999;
$meta-gray: #555;
$blue: #3790e0;
$red: #e41717;
